{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
  },
  "plugins": [
    "liquid-lint"
  ],
  "rules": {
      "import/no-unresolved": 0,
      "quotes": 0,
      "liquid-lint/force-template-literals-for-liquid": 2
  }
}
